.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70px;
    justify-content: space-between;
}

.cart_icon {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cart_icon img {
    width: 70%;
}

.cart_icon:hover {
    transform: scale(1.2);
    transition-duration: 300ms;
    color: red;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.1);
}

.cart_icon:active {
    transform: scale(0.95);
    transition-duration: 200ms;
}

.cart_icon:not(:hover) {
    transition-duration: 300ms;
}

.cart_amount {
    right: 0px;
    top: 2px;
    position: absolute;
    color: white;
    z-index: 3;
    background: red;
    width: 15px;
    height: 15px;
    font-size: 11px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
}