.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    align-items: center;
    height: 80px;
    padding: 0 10vw;
    box-sizing: border-box;
}

.header_icon_1 {
    position: absolute;
}

.header_icon_2 {
    position: relative;
    top: 5px;
    left: 8px;

}