.cat_panel {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    box-sizing: border-box;
    width: 300px;
}

.cat_panel_link {
    width: fit-content;
    height: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1D1F22;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    background: none;
}

.cat_panel_link:active {

    color: #5ECE7B;
    border-bottom: 1px solid #5ECE7B;
    font-weight: bold;
}

.cat_panel_link:hover {
    color: green;
    border-bottom: 1px solid green;
    font-weight: bold;
}

.active {}